* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #652085;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 13px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.text h1 {

}

.text h2 {

}

.text a {
  text-decoration: none;
  background-color: rgba(31, 69, 222, 1);
  color: #fff;
  border-radius: 25px;
  padding: 7px;
  margin-top: 15px;
  animation: 1s jump alternate infinite,
              1s pulsar alternate infinite;
  font-family: 'Oswald', sans-serif;
  transition: 1s ease 0s;
}

/* .text a:hover {
  animation: 1s jump alternate infinite paused,
              1s pulsar alternate infinite;
  letter-spacing: 1px;
} */

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {

    transform: translateY(10px);
  }
}

@keyframes pulsar {
  0% {
    box-shadow: 0 0 5px rgba(87, 117, 235, 1),
                0 0 10px rgba(87, 117, 235, 1),
                0 0 15px rgba(87, 117, 235, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(87, 117, 235, 1),
                0 0 15px rgba(87, 117, 235, 1),
                0 0 20px rgba(87, 117, 235, 1);
  }
}

@media (max-width: 1200px) {
  .text a {
    animation: 1s pulsar alternate infinite;
  }
}

@media (hover: hover) and (pointer: fine) {
  .text a:hover {
    animation: 1s jump alternate infinite paused,
                1s pulsar alternate infinite;
    letter-spacing: 1px;
  }
}
